//  part-first
body{
  background-color: 
  #181F2B;
}
                                          
@media screen and (max-width:444px) {
   .container{
     padding-left: 20px;
    padding-right: 20px;
  }
}
